<!-- This File is corresponding to the Member Circles in the Team Page-->
<a {% if include.link %}href="{{ include.link | relative_url }}"{% endif %} class="portrait" data-mini="{{ include.mini | default: false }}">

  {%- assign placeholder = include.placeholder | default: "images/placeholder.svg" | relative_url -%}

  <span class="portrait_image">
    {%- if include.image -%}
    <img
      src="{{ include.image | relative_url }}"
      onerror="this.src = '{{ placeholder }}'; this.onerror = null;"
    >
    {%- else -%}
    <img src="{{ placeholder }}">
    {%- endif -%}
  </span>

  {%- if include.role -%}
  {%- include role.html type=include.role -%}
  {%- endif -%}

  {%- if include.name -%}
  <span class="portrait_name">
    {{ include.name }}
  </span>
  {%- endif -%}

  {%- if include.role -%}
  {%- assign roletext = "Default Role" -%}

  {%- if include.role == "pi" -%}
  {%- assign roletext = "Principal Investigator" -%}
  {%- endif -%}
  
  {%- if include.role == "postdoc" -%}
  {%- assign roletext = "Postdoctoral Researcher" -%}
  {%- endif -%}
  
  {%- if include.role == "phd" -%}
  {%- assign roletext = "PhD Student" -%}
  {%- endif -%}
  
  {%- if include.role == "master" -%}
  {%- assign roletext = "MEng Student (Research)" -%}
  {%- endif -%}
  
  {%- if include.role == "phd_g" -%}
  {%- assign roletext = "PhD (graduated)" -%}
  {%- endif -%}
  
  {%- if include.role == "undergrad" -%}
  {%- assign roletext = "Undergraduate Student" -%}
  {%- endif -%}
  
  {%- if include.role == "programmer" -%}
  {%- assign roletext = "Programmer" -%}
  {%- endif -%}
  
  {%- if include.role == "mascot" -%}
  {%- assign roletext = "Mascot" -%}
  {%- endif -%}
  
  <span class="portrait_name">
    {{ roletext }}
  </span>
  {%- endif -%}
  
  {%- if include.affiliation -%}
  <span class="portrait_name">
    {{ include.affiliation }}
  </span>
  {%- endif -%}

</a>
